@font-face {
    font-family: 'HsJandari';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-2@1.0/HSJandari.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
body{
    font-family:"Noto Sans KR", sans-serif;
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(238, 249, 253);

}
.wrapper{
    background-color: white;
    height: auto;
    width:400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 30px 30px 40px 30px;
    text-align: center;
}
.wrapper h2{
    font-size:30px;
    margin-bottom: 20px;
}
.login_box, password-container{
    display:flex;
    align-items:center;
    position: relative;
    gap:10px;
    width: 100%;
    height: 40px;
    position: relative;
    margin: 20px 0;
}
.login_box label{
    width: 80px;
    text-align: right;
    font-weight: bold;
}
.login_box input{
    flex:1;
    height:35px;
    outline:none;
    border:2px solid rgba(108, 119, 119, 0.096); 
    border-radius: 20px;
    padding-left: 15px;
}
.login_box i{
    position: absolute;
    right:15px;
    top: 50%;
    transform: translateY(-50%);
}
.submit_btn{
    width:160px;
    height:45px;
    background-color: rgb(183, 210, 228);
    font-size:16px;
    color:rgb(22, 20, 20);
    border:none;
    outline:none;
    border-radius:18px;
    margin-top:15px;
    transition-duration:0.3s;
}
.submit_btn:hover {
    background-color: rgb(47, 94, 197);
    color: white;
  }
.login_link p{
    margin-top:20px;
    font-size:13px;
    color: rgb(43, 27, 27)
}
.login_link p a{
    color: rgb(59, 108, 243);
    text-decoration:none;
    font-weight:600;
}
.login_link p a:hover{
    text-decoration:underline;
}
/*홈페이지로*/
.logout_btn{
    width:160px;
    height:45px;
    background-color: rgb(68, 26, 26);
    font-size:16px;
    color:rgb(126, 113, 43);
    border:none;
    outline:none;
    border-radius:18px;
    margin-top: 130px;
}